a:hover {
    text-decoration: none;
}

.bg-roxo {
    background-color: #7E459B;
}

nav a:hover{
    font-weight: 500;
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 40%;
    height: 65vh;
}

.redes-sociais i {
    color: #7E459B;
    font-size: 1.2rem;
}

.redes-sociais span {
    color: #000000;
}

.redes-sociais span:hover {
    font-weight: 500;
    color: #7E459B;
}

.habilidades i {
    font-size: 1.8rem;
}

.tamanho-card {
    width: 18rem;
}

.imagem-cards {
    height: 40vh;
    object-fit: cover;
    object-position: top;
}

.btn-estilo {
    color: #ffffff;
    background-color: #7E459B;
    border-color: #7E459B;
}

.btn-estilo:hover {
    color: #d3d3d3;
}

.imagem-interna-card {
    width: 100%;
}

footer a:hover{
    font-weight: 500;
}